---
import Layout from "../layouts/layout.astro"
import Header from "../components/header.svelte"
import Footer from "../components/footer.svelte"
---

<Layout title="Get in touch">
  <Header />
  <main class="mx-8 grid h-screen">
    <section
      class="grid place-items-center justify-items-center gap-5 place-self-center"
    >
      <h1 class="text-center text-2xl uppercase md:text-3xl md:leading-snug">
        WANT TO CONNECT ?
      </h1>
      <h3 class="fira__regular text-xl md:text-[80px]">(+32)470858117</h3>
      <h3 class="fira__regular text-xl md:text-[80px]">dantevs@icloud.com</h3>
    </section>
  </main>
  <Footer />
</Layout>
