---
import Layout from "../layouts/layout.astro"
import Header from "../components/header.svelte"
import Footer from "../components/footer.svelte"
import NavigateTo from "../components/navigateTo.svelte"
import BackToTop from "../components/backToTop.svelte"
---

<Layout title="Get to know me">
  <Header />
  <main class="mx-8 grid gap-16">
    <h1 class="pt-14 text-left text-2xl uppercase leading-none">
      get to know me
    </h1>
    <article class="max-w-3xl">
      <p class="fira__regular text-left text-xl">
        I specialize in anything javascript-y specially on the frontend. I love
        creating engaging and fun user experiences through animations and/or
        clean designs.
      </p>
    </article>
    <article class="max-w-3xl md:justify-self-end">
      <p class="fira__regular text-right text-xl">
        I offer a full creative service, feel free to contact me on anything
        pertaining web design, product design, print, frontend or backend
        development.
      </p>
    </article>
    <NavigateTo href="/contact-me/" text="contact me" />
    <BackToTop client:load />
  </main>
  <Footer />
</Layout>
