---
import Layout from "../layouts/layout.astro"
import Header from "../components/header.svelte"
import Footer from "../components/footer.svelte"
import NavigateTo from "../components/navigateTo.svelte"
import BackToTop from "../components/backToTop.svelte"
---

<Layout title="Work">
  <Header />
  <main class="grid gap-4 pt-14">
    <h1 class="mx-8 text-right text-2xl uppercase leading-none md:text-3xl">
      Work
    </h1>
    <section class="pt-6">
      <ul class="grid gap-6">
        <li class="flex border-b-2 border-black-muted">
          <a
            href=""
            class="fira__regular ml-8 text-2xl uppercase leading-snug md:text-3xl"
            >0. dpt omgeving
          </a>
          <span class="fira__regular pr-8 text-large">2023</span>
        </li>
        <li class="flex border-b-2 border-black-muted">
          <a
            href=""
            class="fira__regular pl-8 text-2xl uppercase leading-snug md:text-3xl"
            >1. smilng agency
          </a>
          <span class="fira__regular pr-8 text-large">2022</span>
        </li>
        <li class="flex border-b-2 border-black-muted">
          <a
            href=""
            class="fira__regular pl-8 text-2xl uppercase leading-snug md:text-3xl"
            >2. Cristy bertolini
          </a>
          <span class="fira__regular pr-8 text-large">Coming Soon</span>
        </li>
      </ul>
    </section>
    <article class="mx-8 grid">
      <NavigateTo href="/print/" text="Print" />
      <BackToTop client:load />
    </article>
  </main>
  <Footer />
</Layout>
