---
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,400;0,500;1,400;1,500&display=swap");

  :root {
    --white: #fff;
    --black-muted: #071c20;
  }

  html {
    font:
      500 18px/1.5 "Fira Sans Extra Condensed",
      sans-serif,
      system-ui;

    .fira-sans-extra-condensed-regular {
      font-family: "Fira Sans Extra Condensed", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .fira-sans-extra-condensed-medium {
      font-family: "Fira Sans Extra Condensed", sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    .fira-sans-extra-condensed-regular-italic {
      font-family: "Fira Sans Extra Condensed", sans-serif;
      font-weight: 400;
      font-style: italic;
    }

    .fira-sans-extra-condensed-medium-italic {
      font-family: "Fira Sans Extra Condensed", sans-serif;
      font-weight: 500;
      font-style: italic;
    }
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
